html {
  font-family: 'Open Sans', sans-serif;
}

/* Navigation bar text */
.navbar-default {
  font-family: 'Raleway', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}